---
Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  cppcoreguidelines-init-variables,
  google-readability-todo

# This ensures clangd knows how to handle ESP-IDF's cross-compiler
CheckOptions:
  - key:             bugprone-argument-comment.StrictMode
    value:           '1'
  - key: readability-function-cognitive-complexity.Threshold
    value: '1000'
  - key: readability-function-size.StatementThreshold
    value: '2000'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '2'